body {
    background: transparent linear-gradient(180deg, #FFFFFF 0%, #A2DCE3 100%, #1D7680 100%);
}

div {
    display: inline-block;
    /* text-align: center; */
}
button{
    border: none;
    cursor: pointer;
}

.header {
    display: block;
}

.mainText {
    text-align: center;
    margin: 19px auto 60px;
    font: normal normal bold 40px/53px Segoe UI;
    color: #707070;
}

.headerFirMent {
    color: #6A99DF;
}

.headerSecMent {
    color: #F3DB3A;
}

.imgWrap {
    width: 57%;
    margin: 0px auto;
    text-align: center;
}

.img {
    width: 441px;
    height: 417px;
}

.discriptions {
    text-align: center;

}

.firstMent {
    font: bold 30px Segoe UI;
    color: #707070;
    margin: 0px auto 12px;
}

.secondMent {
    margin-bottom: 20px;
    font: medium 15px/24px Noto Sans;
    color: #000000;
}

.infoBtn {
    width: 205px;
    height: 51px;
    background: #3C3C3C;
    color: #FCFCFC;
    font: normal normal 600 20px/27px Noto Sans;
}

.thirdMent {
    color: #707070;
    font: normal normal bold 18px/24px Segoe UI;
    margin: 30px 0px
}

.kakaoBtn {
    width: 247px;
    height: 48px;
    margin: 10px auto;
    background: #FFE53A;
    font: 600 15px Noto Sans;
    color: #000000;
    letter-spacing: 0px;
}

.finalBtn {
    width: 247px;
    height: 48px;
    margin: 0px auto 121px;
    background: #6A99DF;
    font: 600 16px Noto Sans;
    letter-spacing: 0px;
    color: #FFFFFF;
}

.btnblock {
    display: block;
}