body {
  background-image: linear-gradient(
    180deg,
    #ffffff 0%,
    #a2dce3 100%,
    #1d7680 100%
  );
  height: 100vh;
}

button {
  border: none;
  cursor: pointer;
}

div {
  display: inline-block;
  /* text-align: center; */
}

.header {
  display: block;
}

.mainText {
  text-align: center;
  margin: 19px auto 60px;
  font: normal normal bold 40px/53px Segoe UI;
  color: #707070;
}

.headerFirMent {
  color: #6a99df;
}

.headerSecMent {
  color: #f3db3a;
}

.imgWrap {
  width: 57%;
  margin: 0px auto;
  text-align: center;
}

.img {
  width: 441px;
  height: 417px;
}

.discriptions {
  text-align: center;
}

.firstMent {
  font: bold 30px Segoe UI;
  color: #707070;
  margin: 0px auto 12px;
}

.secondMent {
  margin-bottom: 20px;
  font: medium 15px/24px Noto Sans;
  color: #000000;
}

.infoBtn {
  width: 205px;
  height: 51px;
  background: #3c3c3c;
  color: #fcfcfc;
  font: normal normal 600 20px/27px Noto Sans;
}

.thirdMent {
  color: #707070;
  font: normal normal bold 18px/24px Segoe UI;
  margin: 30px 0px;
}

.kakaoBtn {
  width: 247px;
  height: 48px;
  margin: 10px auto;
  background: #ffe53a;
  font: 600 15px Noto Sans;
  color: #000000;
  letter-spacing: 0px;
}

.finalBtn {
  width: 247px;
  height: 48px;
  margin: 0px auto 121px;
  background: #6a99df;
  font: 600 16px Noto Sans;
  letter-spacing: 0px;
  color: #ffffff;
}

.btnblock {
  display: block;
}

/* 모바일 뷰 */
@media (min-width: 320px) {
  .mainText {
    margin-bottom: 10px;
    width: 175px;
    line-height: 25px;
    font-size: 18px;
  }

  .imgWrap {
    display: block;
    width: 100%;
  }

  .img {
    width: 216px;
    height: 216px;
  }

  .discriptions {
    width: 100%;
    display: block;
  }

  .firstMent {
    font-size: 18px;
    color: #707070;
  }

  .secondMent {
    margin: 10px auto 15px;
    font-size: 15px;
  }

  .infoBtn {
    width: 162px;
    height: 33px;
    background: #3c3c3c;
    color: #fcfcfc;
    font-size: 20px;
  }

  .thirdMent {
    color: #707070;
    font-size: 15px;
    margin: 20px auto 28px;
  }

  .kakaoBtn {
    width: 249px;
    margin: 28px auto 10px;
    font-size: 16px;
  }

  .finalBtn {
    width: 249px;
    margin-bottom: 94px;
  }

  .btnblock {
    display: block;
  }
}

@media (min-width: 768px) {
  .mainText {
    width: 100%;
    line-height: 100%;
    margin: 5% auto 5%;
    font-size: 32px;
  }

  .imgWrap {
    display: inline-block;
    width: 50%;
    /*margin: 0px auto;
        text-align: center; */
  }

  .img {
    width: 380px;
    height: 417px;
  }

  .discriptions {
    width: 45%;
    display: inline-block;
  }

  .firstMent {
    font-size: 28px;
    line-height: 115%;
    /* margin: 0px auto 8px; */
  }

  .secondMent {
    margin: 10px auto;
    font-size: 15px;
  }

  .infoBtn {
    width: 190px;
    height: 40px;
    font-size: 18px;
  }

  .thirdMent {
    margin: 20px 0px;
  }

  .kakaoBtn {
    width: 247px;
    height: 48px;
    margin: 10px auto;
    background: #ffe53a;
    font: 600 15px Noto Sans;
    color: #000000;
    letter-spacing: 0px;
  }

  .finalBtn {
    width: 247px;
    height: 48px;
    margin: 0px auto 121px;
    background: #6a99df;
    font: 600 16px Noto Sans;
    letter-spacing: 0px;
    color: #ffffff;
  }

  .btnblock {
    display: block;
  }
}
